<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="../../assets/icon/identify-line.png" alt="" style="height: 30px; width: 30px">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/icon/fav.png" alt="" style="height: 30px; width: 30px">
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/icon/settings-line.png" alt="" style="height: 30px; width: 30px">
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>